# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Project specific
trash/
whatsbot/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log